<div class="author-signoff">
    <div>
        <img src="{{ site.baseurl }}/img/assets/avatar.png" width="80" height="80" alt="Twitter profile image" />
    </div>
    <aside>
        <strong>Neil M</strong> is a web developer and lover of cake, occasional
        musician and game jammer/advocate. He's on
        <a href="https://twitter.com/njmcode" target="_blank">Twitter</a>,
        <a href="https://codepen.io/njmcode" target="_blank">CodePen</a> and
        <a href="https://github.com/njmcode" target="_blank">GitHub</a>
        if you're into that sort of thing.
    </aside>
</div>