---
layout: default
---

<section class="post-header">
    <p><a href="{{ site.baseurl }}/">&lt; Home</a></p>

    <p><small class="pub-date">{{ page.date | date_to_string }}</small></p>

    <h2>{{ page.title }}</h2>

    <p class="summary">{{ page.summary }}</p>

    <p class="author-intro">
        <img src="{{ site.baseurl }}/img/assets/avatar.png" width="30" height="30" alt="Twitter profile image" /> by <strong>Neil M</strong>
    </p>
</section>

<section class="post-body">
    {{ content }}
</section>

<section class="post-footer">
    <p class="pub-note">Published on {{ page.date | date_to_string }}. <a href="{{ site.baseurl }}/feed.xml" target="_blank">Subscribe</a></p>

    {% include author.html %}

    <p><a href="{{ site.baseurl }}/">&lt; Home</a></p>
</section>
