---
layout: default
---

<section class="post-header">
    <p><a href="{{ site.baseurl }}/">&lt; back to index</a></p>

    <p><small class="pub-date">{{ page.date | date_to_string }}</small></p>

    <h2>{{ page.title }}</h2>

    <p class="summary">{{ page.summary }}</p>

    <p class="author-intro">
        <img src="{{ site.baseurl }}/img/assets/avatar.png" width="30" height="30" alt="Twitter profile image" /> by <strong>Neil M</strong>
    </p>

    {% if page.image.main %}
    <div class="post-header-img">
        <img src="{{ site.baseurl }}{{ page.image.main.src }}" />
        {% if page.image.main.credit %}
        <a href="{{ page.image.main.credit }}" class="post-header-img-credit">Image credit</a>
        {% endif %}
    </div>
    {% endif %}
</section>

<section class="post-body">
    {{ content }}
</section>

<section class="post-footer">
    <p class="pub-note">Published on {{ page.date | date_to_string }}. <a href="{{ site.baseurl }}/feed.xml" target="_blank">Subscribe</a></p>

    <p>
        Share <a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url | uri_escape }}{{ page.url | uri_escape }}&via=njmcode" target="_blank">via Twitter</a>
        | <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | uri_escape }}{{ page.url | uri_escape }}" target="_blank">via Facebook</a>
    </p>

    {% include author.html %}

    <p><a href="{{ site.baseurl }}/">&lt; Home</a></p>
</section>
